/* main color  #845ec2 */
body {
  background-color: honeydew;
}
a {
  border-bottom: 1px solid transparent;
  transition: all 400ms ease;
}
a:hover {
  cursor: pointer;
  border-bottom: 1px solid whitesmoke;
}
/* //STARTING PAGE /// */
.image-box {
  width: 200;
  height: 200;
  align-items: "center";
  display: "flex";
  justify-content: "center";
  padding-top: 100px;
  animation: bounce 1000ms alternate infinite;
}
@keyframes bounce {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
.smallLabel {
  display: flex;
  font-size: 0.9em;
  align-items: center;
  /* border: 1px solid red; */
  padding: 10px;
}
.smallLabel input {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
.box-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  background-color: #32cd32;
  margin: 20px;
  padding: 0 10px;
  color: white;
  transition: all 400ms ease;
  box-shadow: 2px 2px 18px greenyellow;
}
.box-login:hover {
  cursor: pointer;
  background-color: #20aa20;
  color: white;
}
.test-page {
  /* background-color: rgb(250, 123, 4); */
  /* height: 100vh; */
  color: rgb(255, 253, 253);
}
/* /////// LOGINPage ////////// */

.simple-link:hover {
  font-weight: bolder;
  cursor: pointer;
}
.my-box {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 4px 4px 4px;
}
.my-alert {
  display: block;
  position: fixed;
  /* align-self: center;
  justify-self: center; */
  margin-bottom: 200px;
  /* margin-left: 20%; */
  margin-right: 20px;
  width: 60%;
}
.my-alert2 {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
position: fixed;
border : 1px solid greenyellow;
border-radius: 5px;
background-color: #20aa20;
color: white;
width: 100%;

/* margin: 10px; */
}
.my-spinner {
  position: fixed;
  left: 49%;
  top: 49%;
}
.question-bg {
  background-image: url("/picture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
/* ///////TOP BAR ////////// */
.topbar {
  /* position: absolute;
  top: 0;
  left: 0; */
  padding: 12px;
  width: 100%;
  height: 50px;
  background: rgb(207, 252, 233);
  background: linear-gradient(
    90deg,
    rgba(207, 252, 233, 0.894462008436187) 0%,
    rgba(118, 211, 173, 1) 29%,
    rgba(194, 219, 209, 1) 66%,
    rgba(220, 255, 236, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: gray 4px 0px 4px;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown h3 {
  margin: 0;
}
.welcome {
  margin-top: 200px;
  font-size: 200%;
}
.start-button {
  width: 90px;
  height: 90px;
  /* border: 1px solid red; */
  background-color: rgb(107, 7, 173);
  color: rgb(253, 253, 253);
  font-weight: bold;
  box-shadow: 2px 2px 4px rgb(73, 73, 73);
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 200ms ease;
  cursor: pointer;
}.start-button:hover{
  box-shadow: 4px 4px 4px rgb(73, 73, 73);
}
.start-button:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 2px;
}

/* ///////    TEST_PAGE   //////////// */
.main-container {
  /* height: 84vh; */

  /* background-color: honeydew; */
}

.box {
  height: 200px;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 300ms ease;
}
.box:hover {
  border: white 3px solid;
}
.newQuestion-box {
  /* background-color: #c25e84; */
  background-image: url("/public/selecttest.png");
  color: white;
}
.question-bank-box {
  background-color: #530026;
  color: antiquewhite;
}
.mystudents-box {
  background-color: #00c9c3;
  color: white;
}
.extra-box {
  background-color: #ddd7c6;
  color: black;
}
.test-page {
  /* display: flex; */
  /* position: relative; */
  background-color: #845ec2;
  /* height: 100vh; */
  /* margin-top: 50px; */
}
.test-page textarea {
  display: block;
  border: none;
  color: white;
  width: 100%;
  resize: none;
  max-width: 100%;
  /* max-height: 8em;
  min-height: 5em; */
  background-color: transparent;
  font-size: 1.2em;
  line-height: 1.15em;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
textarea::-webkit-scrollbar {
  display: none;
}

/* /// Questbox scrollbar customisation /// */
.quest-box::-webkit-scrollbar{
  width: 5px;
}
.quest-box::-webkit-scrollbar-track{
  background-color: #cfbbf0;
}
.quest-box::-webkit-scrollbar-thumb{
  background-color: #3d1a75;
  border-radius: 10px;
}
.quest-box,
.navi-box {
  border-radius: 5px;
  height: 80vh;
  padding: 5px;
  background-color: rgba(255,255,255,0.05);
  /* margin-bottom: 30px; */
  /* overflow-x: hidden;
  scroll-behavior: smooth; */
  box-shadow: 0px 0px 4px rgba(194, 219, 209, 0.5);
  /* border: 2px solid red; */
  /* border: gray 1px solid; */
}

.navi-box {
  /* border-left: 1px solid gray; */
}

.quest-toprow {
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: gray 1px solid;
}
.quest-question {
  /* margin-top: 20px; */
  min-height: 40px;
  max-height: fit-content;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
}
li {
  margin-left: 15px;
}

.options {
  /* display: flex;
  align-items: center; */
  min-height: 30px;
  /* margin-left: 15px; */
  padding: 0 12px;
  transition: all 300ms ease;
}
.options:hover {
  background-color: rgb(194, 194, 194);
  /* border: greenyellow 1px solid; */
  cursor: pointer;
  font-weight: 400;
}
.question-number-box {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  /* border: 1px solid black; */
  text-align: center;
  float: left;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(255, 254, 254);
}

.question-number-box:hover {
  background-color: #603F8B;
  color: white;
}
.footer-box {
  position: fixed;
  bottom: 0;
  /* left: 0; */
  height: 50px;

  /* border-top: 1px solid rgb(163, 163, 163); */
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100vw;
}
.previous-next {
  display: flex;
  width: auto;
  padding: 8px 12px;
  margin: 10px;
  border: none;
  background-color: #845ec2;
  border-radius: 3px;
  color: white;
  box-shadow: 0px 0px 4px white;
  /* border: 1px solid #786591; */
  height: 30px;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
  /* center text vertically in button */
  line-height: 0;
  cursor: pointer;
}
.previous-next:hover {
  background-color: #603F8B;
}
.finish-button {
  background-color:#845ec2;
  border: none;
  margin-left: auto;
}

@media only screen and (max-width: 480px) {
  .box {
    height: 100px;
  }

  .test-page textarea {
    font-size: 0.9em;
  }
  .quest-box {
    height: 60vh;
  
  }
  .navi-box {
    height: 23vh;
  }
  .question-number-box {
    width: 20px;
    height: 20px;
    font-size: 60%;
  }
  .previous-next {
    width: 60px;
    height: 30px;
    font-size: small;
  }
}
.option-image {
  height: 60px;
  width: 100px;
  border-radius: 3px;
  margin: 2px 0;
  /* transition: 300ms all ease; */
}
@media only screen and (max-width : 899px) and (orientation: landscape) {
  .quest-box, .navi-box{
    /* background-color: #20aa20; */
    height: 70vh;
    font-size: 0.6em;

  }
  .quest-question{
    flex-direction: row;
    /* font-size: 0.6em; */
  }
  .quest-box .question-image{
    width: 30%;
    height: 70px
  }
  .option-image {
    width: 50px;
    height: 30px;
    /* border: 2px solid black; */
  }
  .previous-next {
    height: 30px;
  }
  .question-number-box {
    width: 18px;
    height: 18px;
    margin: 3px;
  }
}
/* @media only screen and (min-width: 640px) {
.previous-next {height : 30px}
} */
.question-image {
width: 200px;
height: 150px;
  border-radius: 5px;
  margin-right: 5px;
  transition: all 400ms ease;
}
@media only screen and (max-width: 480px) {
  .question-image {
    height: 80%;
    width: 80%;
  }
}
.question-image:hover {
  /* transform: scale(1.3) translate(9%, 8%); */
}

/* .option-image:hover{
  transform: scale(2);
} */
.option-text {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options * {
  pointer-events: none;
}

/* /////// ADD QUESTION //////// */
.image-input {
  position: relative;
  width: 100%;
  height: 4em;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 3px;
  background-color: white;
  align-content: flex-end;
  align-items: flex-end;
}
.image-input::-webkit-file-upload-button {
  background-color: rgb(49, 49, 49);
  color: white;
  margin-top: 1em;
  margin-left: 1em;
}

/* ////////// TEST LIBRARY */
.recent-tests {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
.readytest_1 {
  background-position: center;
  background-size: cover;
  border-radius: 5%;
  width: 9em;
  padding-top: 0.5em;
  height: 12em;
  margin: 10px;
  transition: all 200ms ease-in;
}

.readytest_1:hover {
  /* transform: translateY(-10px); */
  cursor: pointer;
}
.readytest_1 h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}
.readytest_2 {
  color: rgb(236, 232, 232);
  /* border: 1px solid green; */
  padding-top: 4rem;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 7px;
}
.readytest_2 h2 {
  font-size: 1rem;
  font-weight: bold;
}
.readytest_2 p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.blur-box {
  /* background-color: #555; */
  /* box-shadow: 0 0 1px 1px rgba(247, 245, 245, 0.5); */
}
.blur-box:hover {
  box-shadow: 0 0 3px 3px rgb(236, 236, 236);
}

.test-lib-comp {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 90px;
  background-color: blueviolet;
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  line-height: 1.2em;
  border: 2px solid blueviolet;
  transition: 300ms all ease;
}
.test-lib-comp:hover {
  cursor: pointer;
  border: 2px solid white;
}
.lib-subject {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}
.lib-author {
  font-weight: bolder;
  font-size: 0.75em;
}
.lib-standard {
  font-size: 0.75em;
  font-weight: bolder;
  text-transform: uppercase;
}
.lib-year {
  margin-left: 5px;
  font-size: 0.75em;
}
.lib-published {
  font-size: 0.75em;
  font-style: italic;
}
.speech {
  width: 30px;
  height: 30px;
  /* border: 1px solid red;
  background-color: #00c9c3; */
}

/* /// Mobile Screens //// */
@media (max-width: 480px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .readytest_1 {
    width: 5em;
    height: 7em;
    padding-top: 4px;
    margin: 4px;
  }
  .readytest_1 h1 {
    font-size: 10px;
    margin-left: 4px;
  }
  .readytest_2 {
    padding-top: 2rem;
    padding-right: 10px;
    padding-left: 4px;
    line-height: 2px;
  }
  .readytest_2 h2 {
    font-size: 0.5em;
    font-weight: bold;
  }
  .readytest_2 p {
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
/* // Dashboard ///// */
.heading {
  border: 1px solid red;
}
.tc {
  display: flex;
  justify-content: center;
}

/* /////// LIBRARY ///////// */
.qbank_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.qcard_rect {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
  margin: 8px;
  height: 160px;
  width: 200px;
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 8px;
  color: white;
  line-height: 1em;
  background-color: #3a373d;
  transition: all 400ms ease;
}
.qcard_rect:hover{
cursor: pointer;
box-shadow: #c2f1f3 0px 0px 8px;
}
.subject {
  font-size: 1.2em;
  font-weight: bold;
}
.year {
}
.standard {
}
.question_text {
  font-size: smaller;
  font-weight: bolder;
  font-style: italic;
}
.qmodal-body{
  display: flex;
  flex-direction: column;
}
.qmodal-image-question{
display: flex;
}

.filter-row {
  border-bottom : 1px solid #2f2f2f;
  /* padding-bottom: 10px; */
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.filter-row2{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.my-button{
  margin: 10px;
  width: 80px;
  height: 50%;
  background-color: #3a373d;
  color : white;
  text-align: center;
  border-radius: 5px;
  transition: all 400ms ease-in;
}
.my-button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 3px whitesmoke;
}
.my-input {
  height: 50%;
  margin: 10px;

}

/* ////// DROPDOWN CUSTOMISE ///////// */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.mybar {
  position: relative;  
  box-sizing: border-box;
  display: flex;
  box-shadow:  0px 1px 5px #888;
  width: 100%;
  height: 50px;
  align-items: center;
  /* border: 2px solid red */
}
.mybar:hover {
  /* box-shadow: 0px 1px 10px #888; */
}
.x-center{
 /* border: 1px solid red; */
 position: absolute;
 transform: translateX(-50%);
 left : 50%;
}

.getting-authors{
  color: purple;
  animation: blink infinite 800ms ease-in-out  ;
}
@keyframes blink {
  0%{
    color: white;
  }
  100%{
    color: purple;
  }
}
.welcome h3, h4 {
  color: white;
  animation: slideUp 2000ms ease-in;
}
@keyframes slideUp {
  0% {
    opacity: 0;
   
  }
  100%{
    opacity: 1;
  }
}
.score-text h4{
font-size: 1em;
}
.pop-button{
  width: 80px;
  font-size: 10px;
}